.App {
  text-align: center;  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-hire {
  padding: 5px;
  border-radius: 10px;
  background-color: greenyellow;
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.rounded-input {
  padding:10px;
  border-radius:10px;  
}

.padding-top{    
  padding-top: 15px;    
}


